appdirs==1.4.4
astroid==2.9.3
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
black==22.1.0
bleach==4.1.0
CacheControl==0.12.6
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
click==8.0.3
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==36.0.1
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.4
distro==1.6.0
dnspython==2.2.0
entrypoints==0.4
executing==0.8.2
filelock==3.4.0
fonttools==4.29.1
html5lib==1.1
i3ipc==2.2.1
idna==3.3
importlib-metadata==4.8.1
importlib-resources==5.4.0
ipykernel==6.9.0
ipython==8.0.1
ipython-genutils==0.2.0
isort==5.10.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
kiwisolver==1.3.2
lazy-object-proxy==1.7.1
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.10.0
msgpack==1.0.3
mypy-extensions==0.4.3
nbclient==0.5.10
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.4
nltk==3.7
numpy==1.22.2
ordered-set==4.0.2
packaging==20.9
pandas==1.4.0
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pipenv==2022.1.8
platformdirs==2.4.1
ply==3.11
progress==1.6
prompt-toolkit==3.0.27
ptyprocess==0.7.0
pulsemixer==1.5.1
pure-eval==0.2.2
pycparser==2.21
Pygments==2.11.2
pylint==2.12.2
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.1
python-dateutil==2.8.2
python-xlib==0.31
pytz==2021.3
pyzmq==22.3.0
regex==2022.1.18
requests==2.26.0
resolvelib==0.5.5
retrying==1.3.3
Sastrawi==1.0.1
scipy==1.8.0
seaborn==0.11.2
six==1.16.0
stack-data==0.1.4
testpath==0.5.0
toml==0.10.2
tomli==2.0.0
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing-extensions==4.0.1
urllib3==1.26.8
virtualenv==20.11.0
virtualenv-clone==0.5.7
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.13.3
yt-dlp==2022.2.4
zipp==3.7.0
